/* app global css */
/* .my-card {
  width: 100%;
  max-width: 250px;
} */
.notifyProgress {
  color: green;
}

.subpay-form {
  width: 100%;
  /* max-width: 350px; */
}

.myCard {
  height: 575px;
  max-height: 100%;
  /* height: 200px; */
  /* max-width: 250px; */
  /* max-width: 400px; */
}
